* {
    margin: 0px;
    padding: 0px; }
/*NAVBAR*/
.nav{
    display: grid;
    grid-template-areas: 
    "fernando sobremi portfolio contacto toggleroff";
    grid-template-columns: 62% 10% 10% 10% 8%;
    grid-template-rows: 100%;
    background-color: white;
    opacity: 80%;
    position: fixed;
    width: 100%;
    height: 3rem;
    top: 0%;
    z-index: 2;
    text-align: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgb(87, 86, 86);
}
.text{
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    font-family: 'Redressed', cursive;
}
.toggleroff{
    grid-area: toggleroff;
    color: black;
    font-family: 'Gideon Roman', cursive;
    display: grid;
    grid-template-areas: "p b";
    grid-template-columns: repeat(2,auto);
    grid-template-rows: 100%;
}
.dark{
    grid-area: p;
    font-size: 0.8rem;
    margin-top: 0.7rem;
}
.botton{
    grid-area: b;
    color: black;
    margin-top: 0.3rem;
    margin-right: 2.2rem;
}
.fernando{
    grid-area: fernando;
    text-align: left;
    padding-left: 2rem;
}
.sobremi{
    grid-area: sobremi;
}
.portfolio{
    grid-area: portfolio;
}
.contacto{
    grid-area: contacto;
}

/*BANNER*/
.imgbanner{
    background-image: url(./multimedia/font-codigos.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 20rem;
    width: 100%;
    top: 0%;
}
.divbanner{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 30%, rgba(255,255,255,0) 100%);
    height: 100%;
    box-shadow: 0px 0px 20px gray;
}
.h1banner{
    color: rgb(87, 86, 86);
    font-size: 3rem;
    margin-left: 9rem;
    padding-top: 6rem;
    margin-bottom: 4.5rem;
    font-family: 'Redressed', cursive;
}
.abanner{
    text-decoration: none;
    color: rgb(87, 86, 86);
}
.gitbanner{
    margin-left: 16rem;
}
.linkbanner{
    margin-left: 2rem;
}
.mailbanner{
    margin-left: 2rem;
}
/*SECTION*/
.sectionsobremi{
    text-align: center;
    border-top: 1px solid black;
    width: 10rem;
    margin-top: 3rem;
    padding-top: 1.5rem;
    margin-left: 38rem;
    font-family: 'Redressed', cursive;
}
.sobremidiv{
    display: grid;
    grid-template-areas: "sobremiimg sobremip";
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    align-items: center;
    justify-items: center;
}
.sobremiimg{
    grid-area: sobremiimg;
    background-image: url(./multimedia/foto\ de\ perfil\ P2.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    height: 17rem;
    width: 17rem;
    transition: all 300ms;
    box-shadow: 0px 0px 10px rgb(87, 86, 86);
}
.sobremiimg:hover{
    transform: scale(1.4) !important; 
}
.sobremip{
    grid-area: sobremip;
    text-indent: 2rem;
    font-size: 1.1rem;
    margin: 3rem;
    text-align: justify;
    font-family: 'Gideon Roman', cursive;
    font-size: 1.2rem;
}
/*PORTFOLIO*/
.sectionportfolio{
    text-align: center;
    border-top: 1px solid black;
    width: 10rem;
    margin-top: 3rem;
    padding-top: 1.5rem;
    margin-left: 38rem;
    margin-bottom: 2rem;
    font-family: 'Redressed', cursive;
}
.divportfolio{
    display: grid;
    grid-template-areas:
    "html javascript"
    "portfolio reactjs";
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    align-items: center;
    justify-items: center;
}
.portimg{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 15rem;
    width: 30rem;
    box-shadow: 0px 0px 10px rgb(87, 86, 86);
    transition: all 2000ms;
    border-radius: 3%;
}
.portimg:hover{
    transform: scale(1.11) !important; 
    box-shadow: 0px 0px 40px rgb(21, 103, 255);
}
.cartportfolio{
    background-color: rgb(248, 248, 248);
    box-shadow: 0px 0px 10px rgb(87, 86, 86);
    border-radius: 2%;
    padding: 2rem;
    margin-top: 4rem;
    text-align: center;
    transition: all 300ms;
}
.cartleft{
    margin-left: 3rem;
}
.cartright{
    margin-right: 3rem;
}
.cartportfolio:hover{
    transform: scale(1.15) !important; 
}
/*--------IMG--------*/
.html{
    grid-area: html;
    background-image: url(./multimedia/html1.png);
}
.javascript{
    grid-area: javascript;
    background-image: url(./multimedia/javascript1.png);
}
.gitportfolio{
    grid-area: portfolio;
    background-image: url(./multimedia/gitportfolio2.png);
}
.reactjs{
    grid-area: reactjs;
}
/*----------P----------*/
.titlecart{
    font-family: 'Redressed', cursive;
    font-size: 1.4rem;
}
.pport{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Gideon Roman', cursive;
    font-size: 1rem;
}
.arepositorio{
    text-decoration: none;
}
.htmlp{
    grid-area: html;
}
.javascriptp{
    grid-area: javascript;
}
.gitportfoliop{
    grid-area: portfolio;
}
.reactjsp{
    grid-area: reactjs;
}


/*FOOTER*/
.originfooter{
    background-color: rgb(248, 248, 248);
    box-shadow: 0px 0px 10px rgb(87, 86, 86);
    padding-bottom: 3rem;
    padding-top: 0.1rem;
    margin-top: 3rem;
}
.footercontacto{
    text-align: center;
    border-top: 1px solid black;
    width: 10rem;
    margin-top: 2rem;
    padding-top: 1.5rem;
    margin-left: 38rem;
    font-family: 'Redressed', cursive;
}
.divfooter{
    display: grid;
    grid-template-areas: "link git wpp mail";
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 100%;
    align-items: center;
    justify-items: center;
    text-align: center;
    margin-top: 3rem;
}
.estilosf{
    text-decoration: none;
    color: rgb(87, 86, 86);
    font-family: 'Redressed', cursive;
    font-size: 1.6rem;
}
.footerlink{
    grid-area: link;
}
.footergit{
    grid-area: git;
}
.footerwpp{
    grid-area: wpp;
}
.footermail{
    grid-area: mail;
}